.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    overflow-x: auto;
    box-sizing: border-box;
}

.main-tab-content h1 {
    text-align: center;
}

.main-tab-content p {
    /* Left-align only paragraphs */
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
}

.about-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-list li {
    text-align: left;
    max-width: 800px;
    padding: 5px 0px 0px 20px;
}

.about-list ol {
    /* Remove default margin */
    margin: 0;
}