.generate-bets .fetch-button {
    margin-top: 2.5vh;
    padding: 1.25vh 1.33vw;
    font-size: 2vh;
    background-color: #61dafb;
    color: black;
    border: none;
    border-radius: 0.67vw;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.generate-bets .fetch-button:hover {
    background-color: rgba(8, 72, 91, 0.886);
    box-shadow: 0 0.5vh 0.75vh rgba(0, 0, 0, 0.1);
}
